body {
    background-image: url(../img/about-img.jpg);
    background-size: 100%;
    
}

.fontColor{
    color: gray;
}
.formStyle{
    width: 450px;
    height: 580px;
    margin: 125px auto;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 40px;
}
#registerForm{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
form{
    margin-top: 40px;
}
input{
    margin-top: 10px;
    background-color: gainsboro;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    border: none;
    padding-left: 14px;
}

.arrangeLabel{
    position: relative;
    right: 93px;
    font-size: 18px;
}
#pak3{
    position: relative;
    right: 106px;
}
#pak2{
    position: relative;
    right: 98px;
}
#pak1{
    position: relative;
    right: 107px;
}
#pak4{
    position: relative;
    right: 91px;
}

 input[type=text]:focus,
 input[type=email]:focus,
 input[type=password]:focus {
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.error {
    position: relative;
    right: 44px;
    color: #D8000C;
    background-color: #FFBABA;
}
#erroremail{
    position: relative;
    right: 20px;
}
#errorsurname{
    position: relative;
    right: 36px;
}
#errorpassword{
    position: relative;
    right: 35px;
}
#dnButt {
    margin-top: 20px;
    width: 250px;
    border-radius: 20px;
    background-color: dodgerblue;
    color: white;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    
}

#dnButt:hover{
    color: #141E27;
    cursor: pointer;
}