body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
}

#header a {
    color: #fff;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list ul li {
    display: inline;
    margin-left: 20px;
}

#users {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}

#users h1 {
    text-align: center;
    color: #333;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.user-box {
    background: #e7e7e7;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: calc(33.333% - 20px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.user-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

form {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

form label, form input, form button {
    margin: 3px;
    padding: 3px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"] {
    flex-grow: 1;
}

form button {
    background: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #4cae4c;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

#footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .nav-list ul li {
        display: block;
        margin-left: 0;
    }

    .users {
        justify-content: center;
    }

    .user-box {
        width: calc(50% - 20px); 
    }

    form {
        flex-direction: column;
    }

    form label, form input, form button {
        width: 100%;
    }
}
